.info-card {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin: 5px 5px 0px 5px;
	font-size: 12px;
}

ion-content {
	.inner-scroll {
		padding: 5px !important;
	}
}

span {
	font-size: 15px;
}