<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title color="dark" class="panelTitle">
                {{ 'property.dailyProperties' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>
            
        <form [formGroup]="leadGenerationForm">

            <div class="row-div" style="margin-bottom: 5px;">
                <ion-row class="room-row">
                    <ion-col size="3" [ngClass]="{'activeFilter' : residentialFlag, 'room-col' : !residentialFlag}" (click)="propertyTypeChange('residential')">
                        {{ 'property.residential' | translate }}
                    </ion-col>
                    <ion-col size="3" [ngClass]="{'activeFilter' : !residentialFlag, 'room-col' : residentialFlag}" (click)="propertyTypeChange('commercial')">
                        {{ 'property.commercial' | translate }}
                    </ion-col>
                    <ion-col size="3" [ngClass]="{'activeFilter' : saleFlag, 'room-col' : !saleFlag}" (click)="saleLease('sale')">
                        {{ 'property.sale' | translate }}
                    </ion-col>
                    <ion-col size="3" [ngClass]="{'activeFilter' : !saleFlag, 'room-col' : saleFlag}" (click)="saleLease('lease')">
                        {{ 'property.lease' | translate }}
                    </ion-col>
                </ion-row>
            </div>

            <mat-form-field appearance="outline" class="w100">
                <mat-label>{{ 'subscribe.name' | translate }}</mat-label>
                <input matInput autocomplete="off" required formControlName="name">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w100">
                <mat-label>{{ 'register.email' | translate }}</mat-label>
                <input matInput type="email" autocomplete="off" required formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="leadGenerationForm.get('email').hasError('required')">
                    {{ 'register.emailRequired' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w100">
                <mat-label>{{ 'subscribe.addressPostalMLS' | translate }}</mat-label>
                <input matInput autocomplete="off" formControlName="address">
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w100">
                <mat-label>{{ 'subscribe.areaRadius' | translate }}</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="areaRadius">
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" class="w100">
                <mat-label>{{ 'subscribe.phone' | translate }}</mat-label>
                <input matInput autocomplete="off" formControlName="phone">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" class="w100">
                <mat-label>{{ 'property.propertyTypes' | translate }}</mat-label> 
                <mat-select placeholder="Select Property Type" formControlName="propertyOptions">
                    <mat-option *ngFor="let propertyType of propertyTypesArray" 
                        [value]="propertyType.name">
                        {{ propertyType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" style="padding-right: 5px;" class="fieldformat">
                <mat-label>{{ 'property.minPrice' | translate }}</mat-label>
                <mat-select placeholder="$" formControlName="listPriceMin" >
                    <mat-option *ngFor="let price of minPriceList" 
                        [value]="price.value">
                        {{ price.price }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" class="fieldformat">
                <mat-label>{{ 'property.maxPrice' | translate }}</mat-label>
                <mat-select placeholder="$" formControlName="listPriceMax" >
                    <mat-option *ngFor="let price of maxPriceList" 
                        [value]="price.value">
                        {{ price.price }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" style="padding-right: 5px;" class="fieldformat">
                <mat-label>{{ 'property.minFootage' | translate }}</mat-label>
                <mat-select formControlName="approxSquareFootageMin" >
                    <mat-option *ngFor="let footage of minSquareFootageList" 
                        [value]="footage.value">
                        {{ footage.footage }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" class="fieldformat">
                <mat-label>{{ 'property.maxFootage' | translate }}</mat-label>
                <mat-select formControlName="approxSquareFootageMax" >
                    <mat-option *ngFor="let footage of maxSquareFootageList" 
                        [value]="footage.value">
                        {{ footage.footage }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag && residentialFlag" appearance="outline" class="w100">
                <mat-label>{{ 'property.details.basement' | translate }}</mat-label>
                <mat-select placeholder="Select ..." formControlName="basementStyle" >
                    <mat-option *ngFor="let basement of basementArray" 
                        [value]="basement.name">
                        {{ basement.name }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field *ngIf="!detailFormFlag" appearance="outline" class="w100">
                <mat-label>{{ 'subscribe.message' | translate }}</mat-label>
                <textarea matInput autocomplete="off" formControlName="message"></textarea>
            </mat-form-field>
    
        </form>

        <div *ngIf="!detailFormFlag">
            <div *ngIf="residentialFlag">
                <div class="row-div">
                    <span style="font-size: 14px;">{{ 'property.bedrooms' | translate}}</span>
                    <ion-row class="room-row">
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroomAny, 'room-col' : !bedroomAny}" (click)="bedroom('any')">
                            {{ 'property.any' | translate }}
                        </ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroom1, 'room-col' : !bedroom1}" (click)="bedroom('1')">1</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroom2, 'room-col' : !bedroom2}" (click)="bedroom('2')">2</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroom3, 'room-col' : !bedroom3}" (click)="bedroom('3')">3</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroom4, 'room-col' : !bedroom4}" (click)="bedroom('4')">4</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bedroom5, 'room-col' : !bedroom5}" (click)="bedroom('5')">5+</ion-col>
                    </ion-row>
                </div>
                
                <div class="row-div">
                    <span style="font-size: 14px;">{{ 'property.bathroom' | translate }}</span>
                    <ion-row class="room-row">
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroomAny, 'room-col' : !bathroomAny}" (click)="bathroom('any')">
                            {{ 'property.any' | translate }}
                        </ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroom1, 'room-col' : !bathroom1}" (click)="bathroom('1')">1+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroom2, 'room-col' : !bathroom2}" (click)="bathroom('2')">2+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroom3, 'room-col' : !bathroom3}" (click)="bathroom('3')">3+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroom4, 'room-col' : !bathroom4}" (click)="bathroom('4')">4+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : bathroom5, 'room-col' : !bathroom5}" (click)="bathroom('5')">5+</ion-col>
                    </ion-row>
                </div>
                
                <div class="row-div">
                    <span style="font-size: 14px;">{{ 'property.garage/parking' | translate }}</span>
                    <ion-row class="room-row">
                        <ion-col size="2" [ngClass]="{'activeFilter' : gpAny, 'room-col' : !gpAny}" (click)="gp('any')">
                            {{ 'property.any' | translate }}
                        </ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : gp1, 'room-col' : !gp1}" (click)="gp('1')">1+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : gp2, 'room-col' : !gp2}" (click)="gp('2')">2+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : gp3, 'room-col' : !gp3}" (click)="gp('3')">3+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : gp4, 'room-col' : !gp4}" (click)="gp('4')">4+</ion-col>
                        <ion-col size="2" [ngClass]="{'activeFilter' : gp5, 'room-col' : !gp5}" (click)="gp('5')">5+</ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        
        
        <div class="btn-margin">
            <ion-button class="button-format" color="danger" [disabled]="leadGenerationForm.invalid" (click)="subscribeToDailyNews(leadGenerationForm.value)">
                {{ 'subscribe.submit' | translate }}
            </ion-button>
            <ion-button *ngIf="detailFormFlag" class="button-format" color="dark" (click)="showMore()">
                {{ 'subscribe.more' | translate }}
            </ion-button>
            <ion-button *ngIf="!detailFormFlag" class="button-format" color="dark" (click)="showMore()">
                {{ 'subscribe.hide' | translate }}
            </ion-button>
        </div>

    </mat-expansion-panel>
</mat-accordion>