:host {
    ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
    }
}

.row-div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.room-row {
    font-size: 12px;
    margin-top: 5px;
}

.activeFilter {
    background: #e01a27;
    border: 1px solid #888;
    color: #fff;
    text-align: center;
}

.fieldformat {
    width: 50%;
}

.room-col {
    text-align: center;
    border: 1px solid #888;
}

.mat-expansion-panel-header-title {
    color: #101010 !important;
}

.expansion-header {
    height: 50px !important;
    padding: 0px 10px !important;
}

.btn-margin {
    text-align: center;
    padding: 5px 0px;
}

.button-format {
    text-transform: capitalize;
    letter-spacing: 0px;
    width: 40%;
}

.panelTitle {
    margin-top: 6px;
    font-size: 16px;
}