<ion-header>
	<ion-toolbar class="toolbar-format">
    	<ion-buttons slot="start" style="margin-top: 5px;">
      		<ion-back-button text="" style="color: #fff;"></ion-back-button>
		</ion-buttons>
		<div style="padding: 0px 10px;">
			<img class="logo-image" src="assets/img/poshlife.png">
		</div>
  	</ion-toolbar>
  
	<ion-toolbar id="home-result" class="toolbar-border toolbar-format">
    	<form [formGroup]="searchForm">
			<mat-form-field appearance="outline" class="w100" style="margin-left: 5px;">
				<input matInput placeholder="{{'searchPlaceholder' | translate }}" formControlName="myControl"
					[matAutocomplete]="auto" (keyup)="searchProperty()" [(ngModel)]="searchText">
				<mat-icon matPrefix>search</mat-icon>
				<mat-icon matSuffix *ngIf="searchText" (click)="searchText = ''">close</mat-icon>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option style="font-size: 13px !important;" *ngIf="isLoading" class="is-loading">{{ 'loading' | translate }}</mat-option>
					<ng-container *ngIf="!isLoading">
						<mat-optgroup *ngFor="let group of searchValues" [label]="group.name">
							<mat-option class="matOption" *ngFor="let option of group.data" [value]="option.address">
								<span *ngIf="group.name === 'Listing'" (click)="goToDetailPage(option.id)">
									<p class="p-address">
										<span class="address-format">
											<span *ngIf="option.aptUnit">
												{{ option.aptUnit }}-
											</span>
											{{ option.address }}<br>
											{{ option.municipality }} - {{ option.community }}
										</span>
										<span class="span-price">
											<span *ngIf="option.event === 'Sold' || option.event === 'Terminated'"
												style="text-decoration: line-through;">
												$ {{ option.listPrice | number:'1.0':'en-US' }}
											</span>
											<span *ngIf="option.event !== 'Sold' && option.event !== 'Terminated'">
												$ {{ option.listPrice | number:'1.0':'en-US' }}
											</span>
										</span>
									</p>
									<p class="p-secondary">
										<span style="white-space: normal;">
											<span *ngIf="!option.bedroomsPlus">
												{{ option.bedrooms }} {{ 'property.bedrooms' | translate }},
											</span>
											<span *ngIf="option.bedroomsPlus">
												{{ option.bedrooms }}+{{ option.bedroomsPlus }} {{ 'property.bedrooms' | translate }},
											</span>
											{{ option.washrooms }} {{ 'property.bathroom' | translate }},
											{{ option.garageSpaces }} {{ 'property.garage' | translate }}
										</span>
										<span class="span-type">
											{{ option.type }}
										</span>
									</p>
									<p class="p-tertiary">
										<span class="span-listing">
											Listing Date: {{option.listingEntryDate | date:'yyyy-MM-dd'}}
										</span>
										<span class="event">
											[{{ option.event }}]
										</span>
									</p>
								</span>
								<span *ngIf="group.name === 'Locations'"
									style="white-space: normal;"
									(click)="selectLocation(option.data)">
									{{ option.locationSearch }}
								</span>
							</mat-option>
						</mat-optgroup>
					</ng-container>
				</mat-autocomplete>
			</mat-form-field>
		</form>

		<div slot="end" class="filter-btn" (click)="searchFilter()">
			<mat-icon class="text-white">filter_alt</mat-icon><br>
			<span class="text-white">{{ 'app.filter' | translate }}</span>
		</div>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="myMap" style="width: 100%; height: 100%;">
		<div class="leaflet-top leaflet-left">
			<ion-button *ngIf="!satellite" class="satelliteFormat" (click)="satelliteView()">
				<ion-icon name="map" style="margin-right: 5px;"></ion-icon>
				{{ 'property.satellite' | translate }}
			</ion-button>
			<ion-button *ngIf="satellite" class="satelliteFormat" (click)="satelliteView()">
				<ion-icon name="map" style="margin-right: 5px;"></ion-icon>
				{{ 'property.street' | translate }}
			</ion-button>
			<ion-button color="danger" class="schoolFormat" (click)="schoolPopup()">
				<ion-icon name="school" style="margin-right: 5px;"></ion-icon>
				{{ 'property.school' | translate }}
			</ion-button>
			<div *ngIf="showSchoolPopup" class="school-popover">
				<h6 class="fw400">Preferences</h6>
				<div class="show-school-div">
					<span class="school-title">Show School</span>
					<ion-toggle class="school-toggle"
						[(ngModel)]="showSchoolFlag"
						(ionChange)="showSchool(showSchoolFlag)"
						mode="ios" color="danger">
					</ion-toggle>
				</div>
				<!-- <div>
					<h6 class="fw400">School Setting</h6>
					<div style="padding: 5px 0px;">
						<ion-checkbox color="danger" class="chk" slot="start"></ion-checkbox>
						<span class="chk-title">Elementary</span>
					</div>
					<div style="padding: 5px 0px;">
						<ion-checkbox color="danger" class="chk" slot="start"></ion-checkbox>
						<span class="chk-title">Secondary</span>
					</div>
					<hr style="background: #ccc;">
					<div style="padding: 5px 0px;">
						<ion-checkbox color="danger" class="chk" slot="start"></ion-checkbox>
						<span class="chk-title">Public</span>
					</div>
					<div style="padding: 5px 0px;">
						<ion-checkbox color="danger" class="chk" slot="start"></ion-checkbox>
						<span class="chk-title">Catholic</span>
					</div>
				</div> -->
			</div>
		</div>
		
		<div class="leaflet-top leaflet-right saleLeaseFormat">
			<input type="button" [ngClass]="{'saleActive' : saleFlag, 'inactive-btn' : !saleFlag}" 
				value="{{'property.saleAndSold' | translate }}" (click)="saleLeaseChange('Sale')" 
				class="saleLeaseButton"/>
			<input type="button" [ngClass]="{'leaseActive' : !saleFlag, 'inactive-btn' : saleFlag}" 
				value="{{'property.lease' | translate }}" (click)="saleLeaseChange('Lease')"
				class="saleLeaseButton"/>
		</div>

		<div class="leaflet-bottom leaflet-left bottom-div">
			<input type="button" [ngClass]="{'residentialActive' : propertyTypeFlag, 'inactive-btn' : !propertyTypeFlag}" 
				value="{{'property.residential' | translate }}" (click)="propertyTypeChange('residential')"
				class="resiCommer"/>
			<input type="button" [ngClass]="{'commercialActive' : !propertyTypeFlag, 'inactive-btn' : propertyTypeFlag}" 
				value="{{'property.commercial' | translate }}" (click)="propertyTypeChange('commercial')" 
				class="resiCommer"/>
		</div>
	</div>
</ion-content>
