<div class="header-info">
	<span class="total-listing">{{properties.length}} listing(s) in total</span>
	<ion-icon class="close-icon" name="close" color="dark" (click)="closePopup($event)"></ion-icon>
</div>
<div class="bg-white mg-bt pos">
	<div *ngFor="let property of properties">
		<ion-button *ngIf="loginFlag" color="danger" (click)="login()" class="login-btn">Login Required</ion-button>
		<div [ngClass]="{'login-required': loginFlag === true}" class="popup-listing" (click)="openLink($event, property.id)">
			<div class="header">
				<p class="p-type">{{ property.type }}</p>

				<img *ngIf="property.propertyType !== 'commercial'" style="width: 18px; margin-left: 12px;"
					src="assets/img/bedrooms.svg">
				<p *ngIf="!property.bedroomsPlus && property.propertyType !== 'commercial'" style="margin: 4px 4px">
					{{ property.bedrooms }}
				</p>
				<p *ngIf="property.bedroomsPlus && property.propertyType !== 'commercial'" style="margin: 4px 4px">
					{{ property.bedrooms }} + {{ property.bedroomsPlus }}
				</p>
				
				<img *ngIf="property.propertyType !== 'commercial'"
					style="width: 18px; margin-left: 12px;"
					src="assets/img/bathrooms.svg">
				<p *ngIf="property.propertyType !== 'commercial'" style="margin: 4px 4px">
					{{ property.washrooms }}
				</p>

				<img *ngIf="property.propertyType !== 'commercial'" style="width: 18px; margin-left: 12px;"
					src="assets/img/parking.svg">
				<p *ngIf="property.propertyType !== 'commercial'" style="margin: 4px 4px">
					{{ property.garageSpaces }}
				</p>
				<p style="margin: 4px 12px;">
					<ion-badge class="fl-rt leaseClass" slot="end"
						*ngIf="property.soldPrice === 0 && property.saleLease === 'Lease'">
						<ion-text color="light">{{ property.saleLease }}</ion-text>
					</ion-badge>

					<ion-badge class="fl-rt saleClass" slot="end"
						*ngIf="property.soldPrice === 0 && property.saleLease === 'Sale'">
						<ion-text color="light">{{ property.saleLease }}</ion-text>
					</ion-badge>

					<ion-badge class="fl-rt soldClass" slot="end" *ngIf="property.soldPrice !== 0">
						<ion-text color="light">{{ 'property.sold' | translate }}</ion-text>
					</ion-badge>
				</p>
			</div>
			<div class="photo">
				<div class="photo-container" [style.background-image]="'url('+imageUrl+property.propertyImage+')'">
				</div>
			</div>
			<div class="main">
				<p *ngIf="property.soldPrice === 0" class="price-format">
					{{ 'property.listed' | translate }}:
					<span class="priceText" *ngIf="property.saleLease == 'Sale'">
						${{ property.listPrice | number:'1.0':'en-US' }}
					</span>
					<span class="priceText" *ngIf="property.saleLease == 'Lease'">
						${{ property.listPrice | number:'1.0':'en-US' }} /month
					</span>
				</p>

				<p *ngIf="property.soldPrice !== 0" class="price-format">
					{{ 'property.soldFor' | translate }}:
					<span class="priceText">
						${{ property.soldPrice | number:'1.0':'en-US' }}
					</span>
				</p>
				<p style="margin: 5px 0px 0px;" *ngIf="property.soldPrice === 0">
					List {{ property.listingEntryDate | date:'yyyy-MM-dd' }}, {{ property.difference_In_ListingDays }} days ago
				</p>
				<p style="margin: 5px 0px 0px;" *ngIf="property.soldPrice !== 0">
					Sold {{ property.soldDate | date:'yyyy-MM-dd' }}, {{ property.difference_In_SoldDays }} days ago
				</p>
				<p style="margin: 5px 0px 0px; color: #666;">
					<span *ngIf="property.aptUnit">{{ property.aptUnit }} - </span> 
					{{ property.address }}, {{ property.area }}</p>
			</div>
		</div>
	</div>
</div>