<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.support.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="ion-text-center bg-profile">
    <img src="assets/img/support-app.jpg">
  </div>

  <ion-card class="ion-no-margin bg-white">
    <ion-card-content>

      <ion-list>
        <ion-item href="tel:1111">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p><ion-text color="primary">Call to General Support</ion-text></p>
            <h2><ion-text color="dark">+1 (123) 456-7890</ion-text></h2>
          </ion-label>
        </ion-item>
        <ion-item href="tel:1111">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p><ion-text color="primary">Call to Lease & Sale Support</ion-text></p>
            <h2><ion-text color="dark">+1 (123) 456-7890</ion-text></h2>
          </ion-label>
        </ion-item>
        <ion-item href="mailto:support@ionproperty2.ionic">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p><ion-text color="primary">Email</ion-text></p>
            <h2><ion-text color="dark">support@ionproperty2.ionic</ion-text></h2>
          </ion-label>
        </ion-item>
      </ion-list>
        
    </ion-card-content>
  </ion-card>

</ion-content>