<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-title color="dark" class="fw400">{{ 'app.about' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

	<div class="ion-ion-text-center ion-padding bg-profile">
		<img src="assets/img/PoshLife-Logo.jpg">
	</div>

	<ion-card class="bg-white ion-no-margin">
		<ion-card-content>
			<h1 class="ion-margin-bottom">
				<ion-text color="dark">{{ 'app.name' | translate }} Application</ion-text>
			</h1>

			<p class="ion-margin-bottom">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque
				ratione
				quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus,
				quia,
				dolore?
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque
				ratione
				quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus,
				quia,
				dolore?
			</p>
		</ion-card-content>
	</ion-card>

</ion-content>
