<ion-content class="ion-padding animated fadeIn login">

	<div class="animated fadeInDown ion-text-center ion-padding-horizontal">
		<div class="login-logo"></div>
	</div>

	<!-- Register form -->
	<div class="title">{{ 'app.createAccount' | translate }}</div>

	<form id="register" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.firstName' | translate }}</mat-label>
			<input matInput autocomplete="off" required formControlName="firstname">
			<mat-icon matSuffix>account_circle</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.lastName' | translate }}</mat-label>
			<input matInput autocomplete="off" required formControlName="lastname">
			<mat-icon matSuffix>account_circle</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.email' | translate }}</mat-label>
			<input matInput type="email" autocomplete="off" required formControlName="email">
			<mat-icon matSuffix>mail_outline</mat-icon>
			<mat-error *ngIf="registerForm.get('email').hasError('required')">
				{{ 'register.emailRequired' | translate }}
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.password' | translate }}</mat-label>
			<input matInput type="password" autocomplete="off" required formControlName="password">
			<mat-icon matSuffix>vpn_key</mat-icon>
			<mat-error>{{ 'register.passwordRequired' | translate }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.confirmPassword' | translate }}</mat-label>
			<input matInput type="password" autocomplete="off" required formControlName="confirmPassword">
			<mat-icon matSuffix>vpn_key</mat-icon>
			<mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
				{{ 'register.confirmPasswordRequired' | translate }}
			</mat-error>
			<mat-error *ngIf="!registerForm.get('confirmPassword').hasError('required') &&
							   registerForm.get('confirmPassword').hasError('passwordsNotMatching')">
				{{ 'register.passwordMatch' | translate }}
			</mat-error>
		</mat-form-field>

		<ion-button type="submit" class="submit-btn" color="danger" [disabled]="registerForm.invalid">
			{{ 'app.createAccount' | translate }}
		</ion-button>

		<div class="or-format">-- {{ 'register.or' | translate }} --</div>

		<ion-button type="button" class="google-btn">
			{{ 'register.signUpGoogle' | translate }}
		</ion-button>

		<ion-button type="button" class="fb-btn" (click)="signUpWithFacebok()">
			{{ 'register.signUpFacebook' | translate }}
		</ion-button>

		<div class="already-account">
			<span>{{ 'register.alreadyAccount' | translate }}</span>
			<a class="loginLink" (click)="login()">{{ 'register.login' | translate }}</a>
		</div>
	</form>
</ion-content>