form {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.mat-expansion-panel-header-title {
    color: #101010 !important;
}

.expansion-header {
    height: 50px !important;
    padding: 0px 10px !important;
}

.panelTitle {
    margin-top: 6px;
    font-size: 16px;
}

.fieldFormat {
    width: 90%;
}

.submit-btn {
    width: 80%;
    margin: 16px auto;
}