.blog-title {
    white-space: initial;
    color: #000;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
}

.p-blog {
    margin: 0 0 10px;
    font-weight: 100 !important;
    line-height: 1.7em;
    font-size: 15px;
    color: #3a3a3a;
}

ion-card {
    margin: 0px 2px 5px 2px;
}

img::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #222;
    opacity: .6;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}