<ion-content class="ion-padding animated fadeIn login">
	
	<!-- Logo -->
	<div class="animated fadeInDown ion-text-center ion-padding-horizontal">
		<div class="login-logo"></div>
	</div>

	<div class="title">{{ 'app.recoverPassword' | translate }}</div>

	<form id="login" [formGroup]="forgotPwdForm" (ngSubmit)="forgotPassword(forgotPwdForm.value)">
		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'forgot.email' | translate }}</mat-label>
			<input matInput type="email" autocomplete="off" required formControlName="email">
			<mat-icon matSuffix>mail_outline</mat-icon>
		</mat-form-field>

		<ion-button type="submit" class="submit-btn" color="danger" [disabled]="forgotPwdForm.invalid">
			{{ 'forgot.resetLink' | translate }}
		</ion-button>

		<div class="back-to-login">
			<a class="loginLink" (click)="login()">{{ 'forgot.backToLogin' | translate }}</a>
		</div>
	</form>
</ion-content>