:host {
	ion-content {
        text-align: center !important;
        padding: 24px !important;
    }

    form {
        width: 100%;
        padding-top: 20px;
        font-size: 14px;
    }
}

.fieldFormat {
    width: 85%;
}

.submit-btn {
    width: 80%;
    margin: 0px auto 20px;
}

.title {
	margin-bottom: 10px;
    font-size: 18px;
    color: #444;
}

.profile {
	ion-card {
		width: 100%;
		border-radius: 0;
		box-shadow: none;

		ion-card-content {
			padding: 30px 30px 0px 30px;
			text-align: center;
			color: #000;

			img {
				height: 128px;
				width: 128px;
				border-radius: 50%;
				border: solid 4px #fff;
				display: inline-flex;
				box-shadow: 0 0 28px rgba(255, 255, 255, .65);
			}

			h1 {
				margin-top: .5rem;
			}

		}
	}
}