<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-back-button text="" color="dark"></ion-back-button>
		</ion-buttons>
		<ion-title class="fw400">{{ 'app.editProfile' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="profile">
	<ion-card class="ion-no-margin">
		<ion-card-content>
			<img *ngIf="!image" src="assets/img/avatar.png" (click)="presentActionSheet()">
			<img *ngIf="image" src="{{image}}" (click)="presentActionSheet()">
			<br/>
			<ion-button icon-left color="danger" (click)="presentActionSheet()">
				<ion-icon name="photos"></ion-icon>
				{{ 'profile.edit' | translate }} / {{ 'profile.insertAvatar' | translate }}
			</ion-button>
		</ion-card-content>
	</ion-card>

	<form id="profile" [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm.value)">
		
		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'profile.firstName' | translate }}</mat-label>
			<input matInput autocomplete="off" required formControlName="firstname">
			<mat-icon matSuffix>account_circle</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'profile.lastName' | translate }}</mat-label>
			<input matInput autocomplete="off" required formControlName="lastname">
			<mat-icon matSuffix>account_circle</mat-icon>
		</mat-form-field>
		
		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'profile.email' | translate }}</mat-label>
			<input matInput type="email" autocomplete="off" formControlName="email">
			<mat-icon matSuffix>mail_outline</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'profile.mobile' | translate }}</mat-label>
			<input matInput autocomplete="off" required formControlName="phoneNumber">
			<mat-icon matSuffix>phone</mat-icon>
		</mat-form-field>

		<ion-button type="submit" class="submit-btn" color="danger" [disabled]="profileForm.invalid">
			{{ 'profile.updateProfile' | translate }}
		</ion-button>
	</form>
</ion-content>
