<ion-content>
	<ion-slides pager="true" dir="ltr" options="slideOpts">
		<ion-slide class="bg-profile">
			<div class="w100 ion-padding">
				<img src="assets/img/PoshLife-Logo.jpg" alt="POSH LIFE" class="slide-image animated fadeInDown slow">
				<h2 class="slide-title fw100 ion-margin-bottom">{{ 'app.tagLine' | translate }}</h2>
				<hr>
				<ion-button expand="full" shape="round" color="danger" class="btn-next ion-margin-top"
					(click)="openLoginPage()">
					{{ 'app.signInOrSignUp' | translate }}
				</ion-button>
				<ion-button expand="full" shape="round" color="dark" class="btn-next ion-margin-top"
					(click)="openHomeLocation()">
					{{ 'app.getStarted' | translate }}
				</ion-button>
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>