@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "theme/animate.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw-src.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

ion-item {
	--ion-item-background: transparent;
	font-family: 'Montserrat' !important;
}

ion-label {
	font-family: 'Montserrat' !important;
}

* {
	font-family: 'Montserrat';
}

#login {
	.mat-form-field-wrapper {
		padding-bottom: 1.34375em !important;
	}
}

#register {
	.mat-form-field-wrapper {
		padding-bottom: 1.34375em !important;
	}
}

#profile {
	.mat-form-field-wrapper {
		padding-bottom: 1.34375em !important;
	}
}

#resetpwd {
	.mat-form-field-wrapper {
		padding-bottom: 1.34375em !important;
	}
}

.logo-image {
	width: 131.25px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0;
}

.bg-white {
	background-color: #fff;
}

.bg-profile {
	background-image: linear-gradient(135deg, #fafafa, var(--ion-color-pmary));
}

.bg-menu {
	background-color: var(--ion-color-menu-shade);
}

.w100 {
	width: 100%;
}

.fw400 {
	font-weight: 400 !important;
}

.bold, .fw500 {
	font-weight: 500 !important;
}

.fw100 {
	font-weight: 100 !important;
}

.text-white {
	color: #fff;
}

.text-dark {
	color: var(--ion-color-dark);
}

.text-dark1 {
	color: var(--ion-color-back-text);
}

.badgeColor {
	border-radius: 15px;
	height: 19px;
	width: 19px;
	background-color: #e01a27;
	color: #fff;
}

.menusize {
	font-size: 18px;
}

// Menu user profile
ion-toolbar.user-profile {

	.user-avatar {
		width: 68px;
		height: 68px;
	}

	.item-inner {
		border-width: 0;
	}
}

// Custom ionProperty toolbar (overriding Shadow DOM)
ion-toolbar {
	&.ion-color-pmary {
		--ion-color-base: linear-gradient(135deg, #f6f6f6, var(--ion-color-pmary)) !important;
	}
}

// Custom ionProperty Menu styles (overriding Shadow DOM)
ion-menu {
	ion-header {
		ion-toolbar {
			&.ion-color-dark {
				--ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-pmary)) !important;
			}
		}
	}
}

#home-result .searchbar-input.sc-ion-searchbar-md {
	border-radius: 5px !important;
}

.pd-0 {
	padding: 0px !important;
}

.mr-0 {
	margin: 0px !important;
}

.mat-bottom-sheet-container {
	padding: 0px !important;
}

.mat-expansion-panel-body {
	padding: 0px 5px 5px 5px !important;
}

.mat-form-field-wrapper {
	padding-bottom: 0px !important;
}

.native-input.sc-ion-input-ios {
	color: black !important;
}

#home-result .mat-form-field-appearance-outline .mat-form-field-flex {
	height: 50px !important;
}

#home-result .mat-form-field-appearance-outline .mat-form-field-outline {
	background: #fff !important;
	border-radius: 5px !important;
}

#home-result .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
	top: 0.4em !important;
    font-size: 13px;
}

#home-result .mat-form-field-infix {
	padding: .5em 0 !important;
	font-size: 15px !important;
	// border-top: .5em solid transparent !important;
}

#home-result .mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: #ccc !important;
}

#login .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
	font-size: 16px !important;
	top: .25em !important;
}

#register .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
	font-size: 16px !important;
	top: .25em !important;
}

.mat-optgroup .mat-option:not(.mat-option-multiple) {
	padding-left: 16px !important;
}

.mat-optgroup-label {
	background: #ccc !important;
	color: #000 !important;
	font-family: 'Montserrat' !important;
}

.alert-button.sc-ion-alert-md {
	zoom: 0.9;
}

.alert-message.sc-ion-alert-md {
	font-size: 14px;
	padding-bottom: 5px;
}

.alert-button.sc-ion-alert-ios {
	zoom: 0.9;
}

.alert-button.sc-ion-alert-ios:last-child {
	font-weight: 500;
}

.marker-cluster div {
	width: 40px !important;
    height: 40px !important;
	display: flex !important;
	margin: auto !important;
    border-radius: 20px !important;
}

.marker-cluster span {
	display: inline-flex !important;
    align-items: center !important;
    margin: auto !important;
}

.marker-cluster-small {
	background-color: #fff !important;
}

.marker-cluster-small div {
	background-color: #e01a27 !important;
	color: #fff !important;
}

.sc-ion-back-button-ios-h {
	font-size: 15px;
    --icon-margin-end: 0px;
    --icon-margin-start: 0px;
}

.action-sheet-cancel.sc-ion-action-sheet-ios {
	font-weight: 500 !important;
}

.action-sheet-button.sc-ion-action-sheet-ios {
	padding-top: 10px !important;
    padding-bottom: 10px !important;
	height: 50px !important;
	font-size: 17px !important;
}

.action-sheet-button.sc-ion-action-sheet-md {
	font-size: 14px;
	height: 48px;
}

.action-sheet-title.sc-ion-action-sheet-md {
	font-size: 14px;
}

.mat-autocomplete-panel {
	max-height: 305px !important;
}