<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="dark"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title color="dark" class="fw400">
			{{ 'property.photos' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="virtualTour">
		<a href="{{virtualTour}}" target="_blank">
			<ion-button class="virtual-tour" expand="full" color="danger">
				{{ 'property.virtualTour' | translate }}
			</ion-button>
		</a>
	</div>

	<div *ngFor="let img of images">
		<img src="{{img}}">
	</div>
</ion-content>