:host {
	ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
    }
}

ion-content {
	img {
		display: block;
		margin-bottom: 8px;
		width: 100%;
	}

	a {
		color: transparent;
	}

	.virtual-tour {
		margin: 8px 0;
		height: 40px;
		font-size: 16px;
		text-transform: capitalize;
		font-weight: 400;
	}
}	